## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current description
0,0,Busselton,-33.65,115.33,60.01,97,97,12.17,AU,overcast clouds
1,1,Ushuaia,-54.80,-68.30,48.13,51,92,8.12,AR,overcast clouds
2,2,Geraldton,-28.77,114.60,69.80,77,75,12.75,AU,broken clouds
3,3,Kavieng,-2.57,150.80,82.67,72,16,5.91,PG,few clouds
4,4,Bredasdorp,-34.53,20.04,62.60,77,0,2.24,ZA,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current description
3,3,Kavieng,-2.57,150.80,82.67,72,16,5.91,PG,few clouds
8,8,Hambantota,6.12,81.12,76.44,82,97,11.88,LK,overcast clouds
14,14,Tadine,-21.55,167.88,79.34,84,100,20.67,NC,overcast clouds
24,24,Rikitea,-23.12,-134.97,76.93,77,100,16.82,PF,light rain
25,25,Alyangula,-13.85,136.42,77.00,100,40,5.73,AU,scattered clouds
39,39,Parati,-23.22,-44.71,77.61,79,87,1.72,BR,overcast clouds
45,45,Oistins,13.07,-59.53,80.06,77,15,13.35,BB,few clouds
48,48,Vaini,-21.20,-175.20,78.80,88,75,11.41,TO,light rain
49,49,Hilo,19.73,-155.09,75.20,73,90,3.36,US,light rain
50,50,Tabou,4.42,-7.35,79.21,85,100,7.27,CI,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                548
City                   548
Lat                    548
Lng                    548
Max Temp               548
Humidity               548
Cloudiness             548
Wind Speed             548
Country                543
Current description    548
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp Current description    Lat     Lng Hotel Name
3      Kavieng      PG     82.67          few clouds  -2.57  150.80
8   Hambantota      LK     76.44     overcast clouds   6.12   81.12
14      Tadine      NC     79.34     overcast clouds -21.55  167.88
24     Rikitea      PF     76.93          light rain -23.12 -134.97
25   Alyangula      AU     77.00    scattered clouds -13.85  136.42
39      Parati      BR     77.61     overcast clouds -23.22  -44.71
45     Oistins      BB     80.06          few clouds  13.07  -59.53
48       Vaini      TO     78.80          light rain -21.20 -175.20
49        Hilo      US     75.20          light rain  19.73 -155.09
50       Tabou      CI     79.21          light rain   4.42   -7.35

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
3,Kavieng,PG,82.67,few clouds,-2.57,150.80,Nusa Island Retreat
8,Hambantota,LK,76.44,overcast clouds,6.12,81.12,Bungalow 63
14,Tadine,NC,79.34,overcast clouds,-21.55,167.88,
24,Rikitea,PF,76.93,light rain,-23.12,-134.97,Pension Maro'i
25,Alyangula,AU,77.00,scattered clouds,-13.85,136.42,Groote Eylandt Lodge
39,Parati,BR,77.61,overcast clouds,-23.22,-44.71,Che Lagarto Paraty
45,Oistins,BB,80.06,few clouds,13.07,-59.53,Butterfly Beach Hotel
48,Vaini,TO,78.80,light rain,-21.20,-175.20,Keleti Beach Resort
49,Hilo,US,75.20,light rain,19.73,-155.09,Hilo Hawaiian Hotel
50,Tabou,CI,79.21,light rain,4.42,-7.35,hotêl doufoulougou

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current description}</dd>
</dl>
"""

#10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[['Lat', 'Lng']]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))