## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,3,Kavieng,PG,82.67,few clouds,-2.57,150.80,Nusa Island Retreat
1,8,Hambantota,LK,76.44,overcast clouds,6.12,81.12,Bungalow 63
2,14,Tadine,NC,79.34,overcast clouds,-21.55,167.88,NaN
3,24,Rikitea,PF,76.93,light rain,-23.12,-134.97,Pension Maro'i
4,25,Alyangula,AU,77.00,scattered clouds,-13.85,136.42,Groote Eylandt Lodge

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Current description</dt><dd>{Current description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Mareeba"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Mareeba"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Mount Isa"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Palmerston"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Port Keats"]

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
start
waypoints=[stop1,stop2,stop3]
waypoints

[(-20.73, 139.5), (-12.49, 130.98), (-14.25, 129.55)]

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig=gmaps.figure()
directions=gmaps.directions_layer(start,end,waypoints,travel_mode="DRIVING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
vacation_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3, vacation_end],ignore_index=True)
vacation_df

,City_ID,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,1325,Mareeba,AU,77.00,broken clouds,-17.00,145.43,Trinity Plains Tourist Park
1,363,Mount Isa,AU,78.80,overcast clouds,-20.73,139.50,ibis Styles Mt Isa Verona
2,1923,Palmerston,AU,78.80,overcast clouds,-12.49,130.98,Quest Palmerston - Serviced Apartments and Acc...
3,610,Port Keats,AU,82.06,overcast clouds,-14.25,129.55,TDC Village (Hundred Man Camp)
4,1325,Mareeba,AU,77.00,broken clouds,-17.00,145.43,Trinity Plains Tourist Park

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(-15, 140), zoom_level=5)

marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))